@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: #E0E0E0;
    background: #0E1428;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #110E29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: #e69b00;
    text-decoration: none;
    font-weight: 600;
}


nav a {
    font-size: 1.7rem;
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

nav a:hover {
    color: #e69b00;
}

#Início {
    height: 100vh;
    /*background: url('Foto.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    scroll-behavior: smooth;
}

#Conteudo-Início {
    max-width: 600px;
}

#Conteudo-Início h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
}

#Conteudo-Início h3 {
    font-size: 32px;
    font-weight: 700;
    color: #e69b00;
}

#Conteudo-Início p {
    font-size: 16px;
    margin: 20px 0 40px;
}

#Conteudo-Início #butão {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

#butão a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #e69b00;
    border: 2px solid #e69b00;
    border-radius: 8px;
    font-size: 19px;
    color: #0E1428;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#butão a:hover {
    color: #e69b00;
}

#butão a:nth-child(2) {
    background: transparent;
    color: #e69b00;
}

#butão a:nth-child(2):hover {
    color: #0E1428;
}

#butão a:nth-child(2)::before {
    background: #e69b00;
}

#butão a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0E1428;
    z-index: -1;
    transition: .5s;
}

#butão a:hover::before {
    width: 100%;
}

#imagem {
    display: flex;
    width: 50px
}

#imagem img {
    display: inline-flex;
    position: relative;
    height: 550px;
    right: -380px;
    top: 25px;
    border: 2px solid #e69b00;
}

#sociais {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

#sociais a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #e69b00;
    border-radius: 50%;
    font-size: 20px;
    color: #e69b00;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#sociais a:hover {
    color: #0E1428;
}

#sociais a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e69b00;
    z-index: -1;
    transition: .5s;
}

#sociais a:hover::before {
    width: 100%;
}

.Sobre {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: #110E29;
    padding-bottom: 6rem;
    scroll-behavior: smooth;
}

#Titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #e69b00;
}

#Sobre_img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#Sobre_img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #e69b00;
}

#Sobre_img #Circulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #110E29;
    border-bottom: .2rem solid #110E29;
    border-left: .2rem solid #e69b00;
    border-right: .2rem solid #e69b00;
}

#Texto_sobre {
    text-align: center;
}

#Texto_sobre h3 {
    font-size: 2.6rem;
}

#Texto_sobre p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.caixa_butão a {
    display: inline-block;
    width: 15rem;

}

.Historico {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    margin-bottom: 35rem;

}

.Historico #Linha_Historico {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

#Linha_Historico .Coluna_Historico {
    height: 50vh;
    flex: 1 1 40rem;
}

.Coluna_Historico .Cabeçalho {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.Coluna_Historico .Caixa_Historico {
    border-left: .2rem solid #e69b00;
}

.Caixa_Historico .conteudo_Historico {
    position: relative;
    padding-left: 2rem;
}

.Caixa_Historico .conteudo_Historico::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #e69b00;
    border-radius: 50%;
}

.conteudo_Historico .conteudo {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #e69b00;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.conteudo_Historico .conteudo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #110E29;
    z-index: -1;
    transition: .5s;
}

.conteudo_Historico .conteudo:hover::before {
    width: 100%;
}

.conteudo_Historico .conteudo .ano {
    font-size: 1.5rem;
    color: #e69b00;
    padding-bottom: .5rem;
}

.conteudo_Historico.conteudo.ano i {
    padding-right: .5rem;
}

.conteudo_Historico .conteudo h3 {
    font-size: 1.8rem;
}

.conteudo_Historico .conteudo p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.Habilidades {
    width: 100%;
    padding: 5% 10%;
    padding-bottom: 7rem;
    background: #110E29;
}

.Habilidades .Linhas_Habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.Linhas_Habilidades .Colunas_Habilidades {
    flex: 1 1 40rem;
}

.Colunas_Habilidades #Título {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.Caixa_Habilidades .Conteudo_Habilidades {
    position: relative;
    border: .2rem solid #e69b00;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.Caixa_Habilidades .Conteudo_Habilidades::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0E1428;
    z-index: -1;
    transition: .5s;
}

.Caixa_Habilidades .Conteudo_Habilidades:hover::before {
    width: 100%;
}

.Conteudo_Habilidades .Progresso {
    padding: 1rem 0;
}

.Conteudo_Habilidades .Progresso h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.Conteudo_Habilidades .Progresso h3 span {
    color: #E0E0E0;

}

.Conteudo_Habilidades .Progresso .Barra {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #e69b00;
    padding: .5rem;
    margin: 1rem 0;
}

.Conteudo_Habilidades .Progresso .Barra span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #e69b00;
}

.Colunas_Habilidades:nth-child(1) .Conteudo_Habilidades .Progresso:nth-child(1) .Barra span {
    width: 30%;
}

.Colunas_Habilidades:nth-child(1) .Conteudo_Habilidades .Progresso:nth-child(2) .Barra span {
    width: 35%;
}

.Colunas_Habilidades:nth-child(1) .Conteudo_Habilidades .Progresso:nth-child(3) .Barra span {
    width: 0%;
}

.Colunas_Habilidades:nth-child(2) .Conteudo_Habilidades .Progresso:nth-child(1) .Barra span {
    width: 75%;
}

.Colunas_Habilidades:nth-child(2) .Conteudo_Habilidades .Progresso:nth-child(2) .Barra span {
    width: 90%;
}

.Colunas_Habilidades:nth-child(2) .Conteudo_Habilidades .Progresso:nth-child(3) .Barra span {
    width: 65%;
}

#Contato {
    width: 100%;
    padding: 5% 10%;
    min-height: auto;
    padding-bottom: 7rem;
}

#Contato form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

#Contato form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Contato form .input-box .input-field {
    position: relative;
    width: 48%;
    margin: .8rem 0;
}

#Contato form .input-box .input-field input,
#Contato form .Campo_Texto textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #E0E0E0;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #e69b00;
}

#Contato form .input-box .input-field input::placeholder,
#Contato form .Campo_Texto textarea::placeholder {
    color: #E0E0E0;
}

#Contato form .foco {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #110E29;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

#Contato form .input-box .input-field input:focus~.foco,
#Contato form .input-box .input-field input:valid~.foco,
#Contato form .Campo_Texto textarea:focus~.foco, 
#Contato form .Campo_Texto textarea:valid~.foco {
    width: 100%;
}

#Contato form .Campo_Texto {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

#Contato form .Campo_Texto textarea {
    resize: none;
}

#Contato form .caixa_butão #butão {
    cursor: pointer;
}

#Rodapé {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #110E29;
}

.Texto_Rodape p {  
    font-size: 1.4rem;
}

#Icone_Rodape a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #e69b00;
    border: .2rem solid #e69b00;
    border-radius: .6rem;
}

#Icone_Rodape a i {
    font-size: 2.4rem;
    color: #110E29;
}