
@font-face
{
    font-family: Gotham_bold;
    src: url(Gotham-font-family/Gotham/Gotham-Bold.otf);
}
@font-face {
    font-family: Gotham_medium;
    src: url(gotham-font-family/Gotham/Gotham-Medium.otf);
}
@font-face {
    font-family: Gotham_light;
    src: url(gotham-font-family/Gotham/Gotham-Light.otf);
}

body
{
    font-family: Gotham_light;
    background-color: #0E1428;
    color: white;
    font-size: 16px;
    
    
}

header{
    color: #D9BBA0;
    align-items: center;
    text-align: center;
    letter-spacing: 00.25em;
    font-family: gotham_bold;
    padding: 15px;
    text-shadow: 0 0 0.8em #D9BBA0;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

h3 
{
    text-align: center;
    align-items: center;
    letter-spacing: 0.25em;
    color: #F6E8E1;
    text-shadow: 0 0 0.8em #F6E8E1;
    font-family: Gotham_medium;
    filter: blur(0.007em);
    font-size: 20px
}



p
{
    text-align: center;
    align-items: center;
    font-size: 14px;
}

img
{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    height: auto;
    box-shadow: 10% white;
    
    
}